<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Users</h1>
<table>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="user, stat : ${users}">
        <td th:text="${stat.index + 1}"></td> <!-- index는 0부터 시작하므로 1을 더해줍니다. -->
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
    </tr>
</table>
</body>
</html>